
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: steelblue;
    color: white;
}

.content {
    background-color: rgba(0,0,0,0.4);
    padding: 20px 30px;
    width: 350px;
    border-radius: 5px;
}

.login-form {
    margin: 40px 0 30px 0;
}

.content h1 {
    text-align: center;
}

.input-div {
    position: relative;
    padding-top: 15px;
}

.input-div input {
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid white;
    margin: 10px 0 50px 0;
    color: white;
    font-size: 18px;
}

.input-div input:focus {
    outline: none;
    border-color: skyblue;
}

.input-div input:valid + label span,
.input-div input:focus + label span {
    transform: translateY(-20px);
    color: skyblue;
}

.input-div label {
    font-size: 18px;
    position: absolute;
    top: 20px;
}

.input-div label span {
    display: inline-block;
    transition: 1s;
    transition-timing-function: cubic-bezier(.23,1.41,.56,.81);
}

.btn {
    background-color: skyblue;
    color: white;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 0;
}

.btn:focus {
    transform: scale(0.98);
}

.no-account a {
    color: skyblue;
    text-decoration: none;;
}